/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

section {
    padding: 10px 0px;
    border: 20px solid black;
    height: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 20px;
    /* justify-content: start; alinea solo de manera horizontal */
    

}

img {
    border: 2px solid red;
    
   
}

article {
    display: flex;
}